NEXT_PUBLIC_SUPABASE_URL=https://nruogougnlieqfqbwtgb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ydW9nb3VnbmxpZXFmcWJ3dGdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyMjIzMTYsImV4cCI6MjA5MTc5ODMxNn0.xYAxjeInx1OHAAk5X6y57eNQjzC5uQRfhAOCFrLKOHM
NEXT_PUBLIC_OMDB_API_KEY=4202f9e